<div class="mainContainerComponent">
  <div class="container">
    <div class="header">
      <p class="title">Notes App</p>
      <button mat-raised-button color="primary" (click)="createNote()">
        Add Note
      </button>
    </div>
  </div>
  <div>
    <app-note-filters [noteService]="noteService"></app-note-filters>
    <app-note-list [noteService]="noteService"></app-note-list>
  </div>
</div>
<app-new-note-modal
  *ngIf="showModal"
  (closeModal)="closeModalEmitted($event)"
></app-new-note-modal>
