.mainContainerComponent {
  padding-left: 200px;
  width: 1240px;
  height: 100%;
  margin: auto;
}

.mainContainerComponent .container {
  width: 768px;
  margin: auto;
  margin-top: 100px;
}

.mainContainerComponent .container .header {
  display: flex;
  justify-content: space-between;
}

.mainContainerComponent .container .header .title {
  font-family: Rubik Mono One;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 40px;
  /* identical to box height */
  letter-spacing: 0.32em;
  color: #333333;
}

.mainContainerComponent .container .header .circleBtn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.mainContainerComponent .container .header .circleBtn:hover {
  box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.25);
}